    {include file="Widget/header" /} 
        <!-- 侧边导航栏 -->
        {:widget('Widget/menu')}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
        
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div  class="widget am-cf" style="text-align:center;min-height: 800px;">
                            <h2 style="margin-top: 30%;font-size: 30px;">欢迎使用</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{include file="Widget/footer" /} 
