{include file="Widget/header" /} 
        <!-- 侧边导航栏 -->
        {:widget('Widget/menu')}

        <style type="text/css">
            .point{cursor: pointer;}
            .point:hover{color: #fff}
            label {font-weight: 100;font-size: 12px;color:red; }
            .am-form-label{}
        </style>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">应用详情</div>
                                <div class="widget-function am-fr">
                                <a href="JavaScript:history.back(-1)">返回</a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <form class="am-form tpl-form-border-form" id="add-form" method="post" action="{:url('Apps/save')}">
                                   <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">用户名称</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="name" name="name" value="{$info.name}" readonly>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">用户手机号</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="name" name="" value="{$info.mobile}" readonly>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">APP名称</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="name" name="name" value="{$info.app_name}" readonly>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">应用系统</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="name" name="name" value="{$info.app_os}" readonly>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="sort" class="am-u-sm-3 am-form-label">应用密钥</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="sort" value="{$info.app_key}" name="sort" readonly>
                                        </div>
                                     </div>
                                      <div class="am-form-group">
                                        <label for="sort" class="am-u-sm-3 am-form-label">应用安全校验码</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="sort" value="{$info.app_secret}" name="sort" readonly>
                                        </div>
                                     </div>
                                   
                                    <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">审核状态</label>
                                        <div class="am-u-sm-9">
   
                                            <select data-am-selected="{searchBox: 1}" name="status">
  
  												<option value="1" {if condition="$info.status eq 1"}selected{/if}>审核通过</option>
  												<option value="2" {if condition="$info.status eq 2"}selected{/if}>审核不通过</option>
  												<option value="3" {if condition="$info.status eq 3"}selected{/if}>禁用</option>
  
											</select>
                                        </div>
                                    </div>
                                    
                                     <div class="am-form-group">
                                        <label for="controller" class="am-u-sm-3 am-form-label"></label>
                                        <div class="am-u-sm-9">
                                           
                                            <input type="hidden" name="id" value="{$info.id}">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        $(function(){
            $("#add-form").validate({
               
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    $(form).ajaxSubmit({
                        type:'post',
                        dateType:'json',
                        success:function(data){
                            if(!data.code||typeof(data.code)=='undefined'){
                                if(typeof(data.msg)!='undefined')layer.msg(data.msg,{icon:2,time:1000});return;
                                layer.msg(data.msg,{time:1000});return;
                            }else{
                                layer.msg(data.msg,{time:1000});
                                window.location.href = "{:url('Apps/appList')}";
                            }
                        }
                    });
                }
            });
        });
    </script>
{include file="Widget/footer" /} 