{include file="Widget/header" /} 
        <!-- 侧边导航栏 -->
        {:widget('Widget/menu')}

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">应用列表</div>
                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <!-- <a href="{:url('user/index')}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a> -->
                                                <!-- <a href="" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</a>
 -->                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                                  <form action="" method="post" class="am-form-inline">
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-5">
                                	<div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                	<input type="text" class="am-form-field " name="username" value="{$username}" placeholder="用户名称">
                                	</div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-5">
                                
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                
                                    
                                        <input type="text" class="am-form-field " name="appname" value="{$appname}" placeholder="应用名称">
                                      
                                    </div>
                                 </div> 
                                   <div class="am-u-sm-12 am-u-md-12 am-u-lg-2">
                                	<div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                	  <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                      </span>
                                	</div>
                                </div>
                                </form>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>应用ID</th>
                                                
                                                <th>应用名称</th>
                                                <th>用户名称</th>
                                                <th>操作系统</th>
                                                <th>发布时间</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="list" id="d"}
                                            <tr class="gradeX" id="tr{$d.id}">
                                                <td>{$d.id}</td>
                                                <td>{$d.app_id}</td>
                                                <td>{$d.app_name}</td>
                                                <td>{$d.name}</td>
                                                <td>{$d.app_os}</td>
                                                <td>{$d.createTime}</td>
                                               
                                                <td>{if condition="$d.status eq 1"}审核通过 {elseif condition="$d.status eq 2" /}拒绝通过{elseif condition="$d.status eq 3" /}禁用{else/}审核中{/if}</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        
                                                        {if condition="$d.status eq 0"}<a href="{:url('Apps/appCheck')}?id={$d.id}"><i class="am-icon-pencil"></i> 审核</a>
                                                    	{else/}
                                                        <a href="{:url('Apps/appInfo')}?id={$d.id}"><i class="am-icon-info"></i>  &nbsp;&nbsp;详情</a>
                                                        {/if}
                                                        <a href="javascript:appdelete({$d.id});" class="tpl-table-black-operation-del"><i class="am-icon-trash"></i> 删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf"><div class="am-fr">{$page}</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
    function appdelete(id){
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                $.post("{:url('Apps/deleteApp')}",{id:id},function(data){;
                    if(!data.code||typeof(data.code)=='undefined'){
                        if(typeof(data.msg)!='undefined')layer.msg(data.msg,{icon:2,time:1000});return;
                        layer.msg(data.msg,{time:1000});return;
                    }else{
                        layer.msg(data.msg,{time:1000});
                        location.reload();
                        //$('#tr'+id).remove();
                    }
                },'json');
            },
            onCancel: function() { }
        });
    }
        
    </script>
    {include file="Widget/footer" /} 