{include file="Widget/header" /}
        <!-- 侧边导航栏 -->
        {:widget('Widget/menu')}

        <!-- 内容区域 -->
        <style type="text/css">
            .theme-black .tpl-form-border-form input[type=text],.theme-white .am-form-field{display: inline-block;width: 150px;margin-right: 10px;float: right}
        </style>
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">礼物列表</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12 am-u-md-12">
                                <form action="" method="post">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                            <input type="text" class="am-form-field " name="from" value="{$ser['from']}" placeholder="赠送方">
                                            <input type="text" class="am-form-field " name="to" value="{$ser['to']}" placeholder="接受方">
                                            <span class="am-input-group-btn">
                                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                          </span>
                                        </div>
                                </form>
                                </div>
                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>赠送方</th>
                                                <th>接受方</th>
                                                <th>礼物</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="data" id='d'}
                                            <tr  class="gradeX" id="tr{$d.id}">
                                                <td>赠送方</td>
                                                <td>接受方</td>
                                                <td>礼物</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:giftDelete({$d.id});" class="tpl-table-black-operation-del"><i class="am-icon-trash"></i> 删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf"><div class="am-fr">{$data->render();}</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript">
    function giftDelete(id){
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                $.post("{:url('User/giftDelete')}",{id:id},function(data){;
                    if(!data.code||typeof(data.code)=='undefined'){
                        if(typeof(data.msg)!='undefined')layer.msg(data.msg,{icon:2,time:1000});return;
                        layer.msg(data.msg,{time:1000});return;
                    }else{
                        layer.msg(data.msg,{time:1000});
                        location.reload();
                        //$('#tr'+id).remove();
                    }
                },'json');
            },
            onCancel: function() { }
        });
    }
</script>
{include file="Widget/footer" /}