{include file="Widget/header" /} 
        <!-- 侧边导航栏 -->
        {:widget('Widget/menu')}

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">存提款汇总</div>
                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-12">
                                <form action="" class="am-form am-form-inline" role="form" method="post">
 	 								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field "  data-am-datepicker readonly name="start_date" value="{$search['start_date']}" placeholder="开始时间">
                                    </div>
 	 								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field "  data-am-datepicker readonly name="end_date" value="{$search['end_date']}" placeholder="结束时间">
                                    </div>

                                    <div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                    </div>
                                    <div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                        
                                        <span style="color:red;font-weight:bolder;">总存款金额：&yen; {$total.deposit_amount|sprintf='%.2f',###}</span>
                                        <span">&nbsp;&nbsp;&nbsp;</span>
                                        <span style="color:red;font-weight:bolder;">总提款金额：&yen; {$total.withdrawal_amount|sprintf='%.2f',###}</span>
                                        <span">&nbsp;&nbsp;&nbsp;</span>
                                        <span style="color:red;font-weight:bolder;">总留存金额：&yen; 
                                         {$leftMoney|sprintf='%.2f',###}</span>
                                    </div>
                                </form>
                                </div>
	<!-- 交易时间、交易方式（红包/转账/付款）、交易形式（支出/收入）交易状态、余额 -->
                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>日期</th>
                                                <th>存款金额</th>
                                                <th>提款金额</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="data" id="d"}
                                            <tr class="gradeX" id="tr{$d.id}">
                                                <td>{$d.ymd}</td>
                                                <td>{$d.deposit_amount}</td>
                                                <td>{$d.withdrawal_amount}</td>
                                            </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf"><div class="am-fr">{$data->render()}</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
    </script>
    {include file="Widget/footer" /} 