{include file="Widget/header" /} 
        <!-- 侧边导航栏 -->
        {:widget('Widget/menu')}

        <!-- 内容区域 -->
        <style type="text/css">
            .theme-white .tpl-form-border-form input[type=text],.theme-black .tpl-form-border-form input[type=text],.theme-white .am-form-field{display: inline-block;width: 150px;margin-right: 10px;float: right}
			.gradeX td a{color:#4aaa4a;}
        </style>
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">充值明细</div>
                            </div>
                            <div class="widget-body  am-fr">

                                 <div class="am-u-sm-12 am-u-md-12">
                                <form action="" class="am-form am-form-inline" role="form" method="post">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field " name="userid" value="{$search['userid']}" placeholder="用户ID">
                                    </div>
 	 								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field "  data-am-datepicker readonly name="addTime" value="{$search['addTime']}" placeholder="时间">
                                    </div>
 	 								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                    <select data-am-selected  name="payway" class="am-form-field">
  											<option value="0">支付方式</option>
  											<option {if $search.payway eq 'alipay'}selected{/if} value="alipay">支付宝</option>
  											<option {if $search.payway eq 'wxpay'}selected{/if} value="wxpay">微信</option>
										</select>
										</div>
 	 								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field " style="width:300px;" name="outTradeNo" value="{$search['outTradeNo']}" placeholder="流水号">
                                        </div>
 	 								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="number" class="am-form-field " name="amount" value="{$search['amount']}" placeholder="交易金额">
                                        </div>
 	 								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                    </div>
                                </form>
                                </div>
                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>姓名</th>
                                                <th>流水号</th>
                                                <th>充值金额</th>
                                                <th>手续费</th>
                                                <th>充值方式</th>
                                                <th>时间</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="list" id="d"}
                                            <tr class="gradeX" id="tr{$d.id}">
                                                <td>{$d.id}</td>
                                                <td><a href="javascript:layer.open({type: 2,title:'用户信息',area: ['500px', '440px'],shadeClose: true,fixed: false,maxmin: true,content: 'userInfo?id={$d.userId}'});">{$d.name}</a></td>
                                                <td>{$d.outTradeNo}</td>
                                                <td>{$d.amount}</td>
                                                <td>{$d.payfee}</td>
                                                <td>
                                                {switch name="d.plat" }
                                                {case value="wxpay"}微信{/case}
                                                {case value="alipay"}支付宝{/case}
                                                {default /}其他
                                                {/switch}
                                                </td>
                                                <td>{$d.createTime}</td>
                                                <td>{:orderStatus($d.status)}</td>
                                                <td>
                                                    <div class="tpl-table-black-operation" data-id="{$d.id}">
                                                        <a href="javascript:void(0);" onclick="orderdelete(this);" class="tpl-table-black-operation-del"><i class="am-icon-trash"></i> 删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf"><div class="am-fr">{$page}</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
    function orderdelete(obj){
    	var id=$(obj).parent('div').data('id');
    	var onConfirm = function() {
    		$.post("{:url('user/orderdelete')}",{id:id},function(data){;
            if(!data.code||typeof(data.code)=='undefined'){
                if(typeof(data.msg)!='undefined')layer.msg(data.msg,{icon:2,time:1000});return;
                layer.msg(data.msg,{time:1000});return;
            }else{
                layer.msg(data.msg,{time:1000});
                $('#tr'+id).remove();
            }
        },'json');
          };
          var onCancel=function() { }
          var $confirm = $('#my-confirm');
          var confirm = $confirm.data('amui.modal');
          if (confirm) {
              confirm.options.onConfirm =  onConfirm;
              confirm.options.onCancel =  onCancel;
              confirm.toggle(this);
            } else {
              $confirm.modal({
                relatedElement: this,
                onConfirm: onConfirm,
                onCancel: onCancel
              });
            }
    }
        
    </script>
    {include file="Widget/footer" /} 