<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>帮助与反馈</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="__amui__/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__amui__/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__amui__/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="__amui__/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="__amui__/css/amazeui.min.css">
  <link rel="stylesheet" href="__amui__/css/app.css">
</head>
<style type="text/css">
.am-list-news-default{margin:0;}
.am-list>li.am-title{background-color: #eee;}
.am-list>li.am-title a{color:#999;padding:1.5rem 0 .7rem;font-size: 1.4rem}
.am-list>li>a{color: #555;padding: 1.2rem 0}
.am-list>li{padding-left: 1rem}
.am-list-news-default .am-list-date{color: #ddd}
.am-navbar div {}
.am-navbar{border-top:1px solid #dedede;background-color: #fff}
.am-navbar-default a{text-align: center;font-size: 1.4rem;color: #999}
.am-list-news-bd .am-list{padding: 0;}
</style>
<body class="body" style="background: #f5f5f5">

  <div class="page pg-demo">
    <div id="demo-view" data-backend-compiled="">
      <div data-am-widget="intro" class="am-intro am-cf am-intro-default am-no-layout">
        <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
          <div class="am-list-news-bd">
            <ul class="am-list">
              <li class="am-g am-list-item-dated am-title">
                  <a class="am-list-item-hd ">请选择问题场景</a>
              </li>
              {volist name="data" id="d"}
              <li class="am-g am-list-item-dated">
                  <a {if condition="$d.ischild eq 0"} href="{:config('app.schemes')}:/chat/feedback_form?id={$d.id}" {else /} href="{:url('feedback')}?pid={$d.id}" {/if} class="am-list-item-hd ">{$d.title}
                  <span class="am-list-date am-icon-chevron-right"></span>
                  </a>
              </li>
              {/volist}            
            </ul>
          </div>
        </div>
      </div>
  </div>
</body>
</html>